@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@font-face {
  font-family: 'Pilcrow Rounded';
  src: url('/fonts/PilcrowRounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pilcrow Rounded';
  src: url('/fonts/PilcrowRounded-Semibold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pilcrow Rounded';
  src: url('/fonts/PilcrowRounded-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pilcrow Rounded';
  src: url('/fonts/PilcrowRounded-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.site-container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.site-content {
  padding-inline: 1.5rem;
}

@media (min-width: 1536px) {
  .site-container {
    max-width: 1600px;
  }

  .site-content {
    padding-inline: 3rem;
  }
}

@media (min-width: 1800px) {
  .site-container {
    max-width: 1800px;
  }

  .site-content {
    padding-inline: 4rem;
  }
}